body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

form{
    gap: 20px;
}

.formlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#altis{
    width: 160px;
    height: 40px;
    
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


input{
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding-left: 40px;
    background-color: #828283;
    outline: none;
    font-size: 20px;
}

::-webkit-input-placeholder {
    color: white;
  }

.icon-name{
    background-image: url(../Midia/image\ 1.svg);
    background-repeat: no-repeat;
    background-position: calc(2%); 
}

.icon-email{
    background-image: url(../Midia/image\ 2.svg);
    background-repeat: no-repeat;
    background-position: calc(2%);
}

.icon-password{
    background-image: url(../Midia/image\ 3.svg);
    background-repeat: no-repeat;
    background-position: calc(3%);
}

.icon-acess{
    background-image: url(../Midia/image\ 6.svg);
    background-repeat: no-repeat;
    background-position: calc(3%);
}

.icon-confirm{
    background-image: url(../Midia/image\ 3.svg);
    background-repeat: no-repeat;
    background-position: calc(2%);
}



h1{
    text-align: center;
}

#recover-password{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    color: black;
}

#continue-cadastro{
    width: 250px;
    height: 50px;
    border: none;
    background-color: #58A1D8;
    opacity: 0.9;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.1s;
}

#continue-cadastro:hover{
    opacity: 5;
}

.powerby{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#wdalogo{
    width: 80px;
}

#input-duo{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

#cadastro-acess,
#cadastro-password{
    width: 50%;
    

}

select{
    border: none;
    border-radius: 50px;
    background-color: #828283;
    padding-left: 40px;
    font-size: 15px;
    color: white;
    outline: none;
}
@media (max-width: 768px) {
    .cadastro {
        width: 80%;
    }
    input {
        width: 80%;
    }
    #continue-cadastro {
        width: 80%;
    }
}


@media (max-width: 480px) {
    .cadastro {
        width: 90%;
    }
    input {
        width: 90%;
    }
    #continue-cadastro {
        width: 90%;
    }
    #wdalogo {
        width: 40px;
    }
}


@media (max-width: 320px) {
    .cadastro {
        width: 95%;
    }
    input {
        width: 95%;
    }
    #continue-login {
        width: 95%;
    }
    #wdalogo {
        width: 30px;
    }
}