*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}




body{
    background-color: rgb(255, 255, 255);
    max-width: 100vh;
}

body.open-sidebar {
    padding-left: 150px;
    transition: all .5s; /* espaço para a navbar aberta */
  }


#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: #220127;
    height: 100vh;
    max-width: 100vh;
    transition: all .5s;
    min-width: 60px;
    z-index: 1;

}



#sidebar.open-sidebar {
    width: 190px;
  }

#sidebar_content{
    padding: 10px;
}



#open_btn{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: none; 
    fill: #D9D9D9;
    cursor: pointer;
}

#open_btn_icon{
    width: 20px;
    height: 20px;
}



#side_itens{
    display: flex;
    flex-direction: column;
    gap: 43px;
    list-style: none;
    margin-left: 10px;
    margin-top: 15vh;
}

.side_item{
    cursor: pointer;
}

.side_item a svg{
    fill: #D9D9D9;
}

.side_item.active a{
    color: #9495CB;
    
}

.side_item.active a svg{
    fill: #9495CB;
    color: #9495CB;
    
}

.side_item a:hover:not(.active),
#open_btn:hover{
    color: #828283;
    fill: #828283;
  }
  
.side_item a:hover:not(.active) svg {
    fill: #828283;
  }

.side_item a{
    display: flex;
    align-items: center;
    color: #D9D9D9;
    text-decoration: none;
    
}


.logo img{
   width: 150px;
   height: 40px;

}

.open-sidebar .logo{
    margin-left: 0;
    
}



.open-sidebar .user{
    
}

.item-description{
    display: flex;
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width .6s;
    
    
}

.item-description-out{
    display: flex;
    width: 0px;
    overflow: hidden;
}

.logout{
    display: flex;
    margin-top: 18vh;
    
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px; /* added a fixed height */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px; /* added padding for responsiveness */
  }
  
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* made it full-width */
  }
  
  header .logo {
    margin-right: 20px;
    margin-left: 10px; /* added margin for responsiveness */
  }

  header .user{
    margin-right: 5vh;
  }


#sidebar.open-sidebar{
 min-width: 190px;
}

#sidebar.open-sidebar .item-description{
    width: 150px;
}

#sidebar.open-sidebar .item-description-out{
    width: 150px;
}

#sidebar.open-sidebar .side_item a{
    justify-content: flex-start;
    gap: 14px;
}
/* Fim da navbar */
/* Inicio da classe main */

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    transition: all .5s;
    padding-top: 60px;
  
}

main .open-sidebar{
  transition: all .5s;
}

main .container{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.title-tb{
  width: 1000px;
  display: flex;
  justify-content: start;
  margin-top: 3%;
  font-size: 20px;
}

.title-table{
  position: absolute;

}


.topo-tb{
  display: flex;
  align-items: center;
  width: 1000px;
  margin-top: 3%;
  margin-bottom: 1%;
}

.container{
  display: flex;
  align-items: start;
  justify-content: start;
  width: 1200px;
  padding: 10px;
  
}

.pesquisa{
  width: 100%;
  max-width: 1000px;
  
}

.lupa{
    background-image: url(../Midia/Group.svg);
    background-repeat: no-repeat;
    background-position: calc(1%);
}

#pesq-al{
  width: 100%;
  height: 30px;
  border: none;
  padding-left: 40px;
  border-radius: 50px;
  outline: none;
  background-color: #8CBABA;
}

.button-criar{
  border: none;
  background-color: #28CF3A;
  border-radius: 50px;
  width: 90px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
}

.button-criar:hover{
  background-color: #20902c;
  transition: all .3s;
}

table{
  width: 100%;
  max-width: 1000px;
  font-size: 12px;
  border: none;
}


td{
  border: none;
  padding: 5px;
  width: 300px;
  height: 35px;
  background-color: #D9D9D9;
  text-align: center;
}

#actions{
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#table-tr{
  background-color: #220127;
  color: white;
  height: 35px;
  border: none;
}

#topo
@media only screen and (max-width: 768px) {
  body.open-sidebar {
      padding-left: 120px;
  }
  #sidebar {
      width: 40px;
  }
  #sidebar.open-sidebar {
      width: 120px;
  }
  .item-description,
  .item-description-out {
      width: 100px;
  }
  .open-sidebar .user {
      margin-left: 100px;
  }
}

@media only screen and (max-width: 480px) {
  body.open-sidebar {
      padding-left: 90px;
  }
  #sidebar {
      width: 30px;
  }
  #sidebar.open-sidebar {
      width: 90px;
  }
  .item-description,
  .item-description-out {
      width: 80px;
  }
  .open-sidebar .user {
      margin-left: 80px;
  }
}